<ion-view view-title="About Yodel" align-title="left">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon nav-bar-button"></button>
  </ion-nav-buttons>
  <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
    <button class="button button-clear">Cancel</button>
  </div>

  <ion-content>
    <div class="fluid-image" style="background-image:url('/images/about-hero.jpg')">
      <div class="container text-center">
        <img src="/images/yodel-brand-large.png">
        <h1>YODEL IS COMING.</h1>
      </div>
    </div>

    <div class="container text-center">
      <h3>WHY SIGN UP?</h3>
      <hr>
      <h4><em>THERE ARE A FEW REASONS...</em></h4>
    </div>

    <div class="fluid-image" style="background-image:url('/images/architecture.jpg')">
      <div class="container text-center">
        <h1>FIND COLLABORATORS</h1>
        <h5><em>If you're a creative seeking other creatives for collaborations, Yodel was made just for you.</em></h5>
      </div>
    </div>
    <div class="fluid-image" style="background-image:url('/images/cafe-table.jpg')">
      <div class="container text-center">
        <h1>FIND ENRICHING EXPERIENCES</h1>
        <h5><em>Not just "things to do" but experiences to remember. Connect with the culture of your city, & find events you never even knew you were looking for.</em></h5>
      </div>
    </div>
    <div class="fluid-image" style="background-image:url('/images/crowd-scene.jpg')">
      <div class="container text-center">
        <h1>FIND ARTISTS FOR YOUR AUDIENCE</h1>
        <h5><em>For venues. For events. For an audience you want coming back again & again. Yodel can help you book the right artists for the right events.</em></h5>
      </div>
    </div>

    <div class="container text-center">
      <h3>WHAT IS YODEL, YOU ASK?</h3>
      <hr>
      <h4><em>Yodel is a system of creative networking.</em></h4>
      <img src="/images/yodel-logo.png">
      <div class="row">
        <p>It bridges the gaps between art, business, & community by providing a Comprehensive Artistic Network. Yodel's tripartite system connects Creatives, Patrons, & Organizations using one dynamic platform. This platforms enhances creative collaboration, event attendance, & show booking—bypassing the barriers preventing engagement. Never has it been so easy to cover all your creative bases in one place. Yodel strives to reinspire the creative spirit, reconnect to community, & revolutionize the logistics of creative interaction. With Yodel, you CAN.</p>
      </div>
    </div>

    <div class="container">
      <h3 class="text-center">FAQ</h3>
      <hr>
      <div class="row">
        <div ng-repeat="col in questionColumns" class="col">
          <div ng-repeat="question in col">
            <h5><strong>{{ question.text }}</strong></h5>
            <p>{{ question.answer }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <h3>MEET THE TEAM</h3>
      <hr>
      <div ng-repeat="row in rows">
        <div ng-repeat="teamPhoto in row" class="inline">
          <team-photo
            team-member-title="teamPhoto.teamMemberTitle"
            team-member-name="teamPhoto.teamMemberName"
            photo-url="teamPhoto.photoUrl">
        </div>
      </div>
    </div>

    <div class="container">
      <contact-us></contact-us>
    </div>

    <yodel-footer></yodel-footer>
  </ion-content>
</ion-view>
