<div class="contact-us">
  <h2>Contact Us</h2>
  <div ng-if="!submitted">
    <label>Name
      <input class="name" type="text" ng-model="name"></input>
    </label>
    <label>Email
      <input class="email" type="email" ng-model="email"></input>
    </label>
    <label>I'm a
      <span class="type" ng-repeat="type in types">
        <label class="type-name"> {{ type.name }}
          <input type="radio" ng-model="$parent.type" value="{{ type.value }}"></input>
        </label>
      </span>
    </label>
    <label>Message
      <textarea class="message" ng-model="desc"></textarea>
    </label>
    <label>
      <input class="submit" type="submit" ng-click="submit()"></input>
    <label>
  </div>
  <div ng-if="submitted">
    <p>Thanks for your feedback!  We'll contact you shortly.</p>
  </div>
</div>
