<ion-view view-title="Projects" cache-view="false">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon nav-bar-button"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">
      <div class="content">
          <h2>Projects</h2>
          <div ng-repeat="project in projects" class="project">
            <h3>{{ project.name }}</h3>
            <h5>{{ project.subhead }}</h5>
            <p>{{ project.description }}</p>
            <ion-list class="list tags">
              <ion-item ng-repeat="collaborator in project.collaborators">
                <a href="/#/y/profile/{{ collaborator }}">{{ collaborator }}</a>
              </ion-item>
            </ion-list>
          </div>
          <div ng-show="isEditing">
            <div>
              <label>Name:
                <input type="text" ng-model="newProject.name" ng-minlength="2" placeholder="Name your project"></input>
              </label>
              <label>SubHeader:
                <input type="text" ng-model="newProject.subhead" placeholder="Subhead your project"></input>
              </label>
              <label>Description:
                <input type="text" ng-model="newProject.description" placeholder="Describe your project"></input>
              </label>
              <label>Collaborators:
                <input type="text" ng-model="newProject.collaborators" placeholder="Who are you working with?"></input>
              </label>
            </div>
            <button name="saveProject" ng-click="saveProject()">Save Project</button>
          </div>
          <div ng-show="!isEditing">
            <button name="showEditingForm" ng-click="showEditingForm()">Add project</button>
          </div>
      </div>
    </ion-content>
</ion-view>
