<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Yodel</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/>
    <link rel="stylesheet" type="text/css" href="/vendor/ionic/css/ionic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/ionic-material/dist/ionic.material.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
    <script src="/vendor/ionic/js/ionic.bundle.js"></script>
    <script src="/vendor/ionic-material/dist/ionic.material.min.js"></script>
    <script src="/vendor/angular-messages/angular-messages.min.js"></script>
    <!-- TODO include cordova.js -->
    <script src="/scripts/all.js"></script>
    <script src="/scripts/angular-views.min.js"></script>
</head>

<body ng-app="yodel">
    <ion-nav-bar ng-include="'/partials/nav/nav.html'" role="navigation"></ion-nav-bar>
    <ion-nav-view ui-view></ion-nav-view>
</body>

</html>
