<ion-view view-title="Sign Up" align-title="left" hide-nav-bar="true">
    <ion-content class="splash">

        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Yodel</h1>
                <h4>Don't have an account yet? <a ui-sref="signup">Sign up now!</a></h4>
            </div>
        </div>

        <div class="list">
            <form name="signupForm" novalidate="" ng-submit="signUp(signupForm, signupParams)">
                <label class="item item-input login" ng-class="{ 'has-errors' : signupForm.username.$invalid && showValidation, 'no-errors' : signupForm.username.$valid || !showValidation }" ng-messages-include="/partials/signup/error-list.html">
                    <span>Username</span>
                    <input type="text" placeholder="Pick a username" name="username" ng-model="signupParams.username" required />
                </label>
                <div class="error-container" ng-show="signupForm.username.$error && showValidation" ng-messages="signupForm.username.$error" ng-messages-include="/partials/signup/error-list.html"></div>

                <br/>

                <label class="item item-input login" ng-class="{ 'has-errors' : signupForm.email.$invalid && showValidation, 'no-errors' : signupForm.email.$valid || !showValidation }" ng-messages-include="/partials/signup/error-list.html">
                    <span>Email</span>
                    <input type="email" placeholder="Enter your email" name="email" ng-model="signupParams.email" required />
                </label>
                <div class="error-container" ng-show="signupForm.email.$error && showValidation" ng-messages="signupForm.email.$error" ng-messages-include="/partials/signup/error-list.html"></div>

                <br/>

                <label class="item item-input login" ng-class="{ 'has-errors' : signupForm.password1.$invalid && showValidation, 'no-errors' : signupForm.password1.$valid || !showValidation }" ng-messages-include="/partials/signup/error-list.html">
                    <span>Password</span>
                    <input type="password" placeholder="Choose a password" name="password1" ng-model="signupParams.password1" required ng-minlength="6" />
                </label>
                <div class="error-container" ng-show="signupForm.password1.$error && showValidation" ng-messages="signupForm.password1.$error" ng-messages-include="/partials/signup/error-list.html"></div>

                <br/>

                <label class="item item-input login" ng-class="{ 'has-errors' : signupForm.password2.$invalid && showValidation, 'no-errors' : signupForm.password2.$valid || !showValidation }" ng-messages-include="/partials/signup/error-list.html">
                    <span>Password</span>
                    <input type="password" placeholder="Confirm your password" name="password2" ng-model="signupParams.password2" required compare-to="signupForm.password1" />
                </label>
                <div class="error-container" ng-show="signupForm.password2.$error && showValidation" ng-messages="signupForm.password2.$error" ng-messages-include="/partials/signup/error-list.html"></div>
            </form>
        </div>

        <div class="padding">
            <button type="submit" ng-click="signUp(signupForm, signupParams)" class="button button-full button-energized ink">Create Account</button>
        </div>
    </ion-content>

</ion-view>
