<ion-view view-title="Login" align-title="left">
    <ion-content class="has-header splash">

        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Yodel</h1>
                <h4>Don't have an account yet? <a ui-sref="signup">Sign up now!</a></h4>
            </div>
        </div>

        <div class="list">
            <form name="loginForm" novalidate="" ng-submit="login(loginForm, loginParams)">
                <label class="item item-input login" ng-class="{ 'has-errors' : loginForm.username.$invalid && showValidation, 'no-errors' : loginForm.username.$valid || !showValidation }" ng-messages-include="/partials/login/error-list.html">
                    <span>Username</span>
                    <input type="text" placeholder="Enter your username" name="username" ng-model="loginParams.username" required/>
                </label>
                <div class="error-container" ng-show="loginForm.username.$error && showValidation" ng-messages="loginForm.username.$error" ng-messages-include="/partials/login/error-list.html"></div>

                <br/>

                <label class="item item-input login" ng-class="{ 'has-errors' : loginForm.password.$invalid && showValidation, 'no-errors' : loginForm.password.$valid || !showValidation }" ng-messages-include="/partials/login/error-list.html">
                    <span>Password</span>
                    <input type="password" placeholder="Enter your password" name="password" ng-model="loginParams.password" required ng-minlength="6"/>
                </label>
                <div class="error-container" ng-show="loginForm.password.$error && showValidation" ng-messages="loginForm.password.$error" ng-messages-include="/partials/login/error-list.html"></div>
            </form>
        </div>
        <div class="padding">
            <button type="submit" ng-click="login(loginForm, loginParams)" class="button button-full button-assertive ink">Login</button>
        </div>
        <div class="button-bar">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>
