.fluid-image
  background-blend-mode multiply
  background-color rgba(76,76,76,.7)
  background-position bottom
  background-size cover
  color #fff
  .container
    max-width 768px
    padding 12em 0

.team-photo
  color #fff
  display inline-block
  height 277px
  max-width 100%
  position relative
  width 277px
  .col
    bottom 0
    position absolute
  h4
    margin-bottom 0
