@import colors
@import common
@import typography

.about
  padding-left 4rem
  font-family yodel-font-family

  p
    font-size font-medium
    line-height 2.5rem
    padding-right 4rem

  h2.header
    text-align center
    padding-top 2.5rem
    padding-bottom .5rem

  h3.subheader
    text-align center

  .what-subheader
    text-align center

.contact-us
  input.name
    width 75%
    display inline
    margin-left 1rem

  input.email
    width 75%
    display inline
    margin-left 1rem

  .type
    padding-left 1rem

  .message
    width 85%
    height 400px

  label
    font-size font-medium
    padding-bottom 2rem
    display block

    label
      display inline

  label.type-name
    font-size font-small

  .submit
    flat-button()
    width 15rem
    position relative
    background yodel-pink
