@import colors

.content
  padding-top 1em
  padding-right 4em
  padding-left 4em

ion-list
  &.tags
    display inline
    margin 0
    padding 0

    ion-item
      display inline
      list-style none
      margin 0
      padding 0

      &:after
        content ", "
        color #aaa

      &:last-child
        &:after
          content ""

.project
  padding 1.3333333em

.slider
  height 100%

.slider-slide
  padding-top 10em
  color #000
  background-color #fff
  text-align center
  font-weight 300

.error-container
  margin .5em 0
  &:last-child
    margin .5em 0 0

.error
  padding 1em 1.5em
  font-size font-tiny
  text-transform uppercase
  color yodel-text
  vertical-align middle

  i
    font-size font-medium
    color #B83E2C
    vertical-align middle

.last-error-container
  & > .error
    padding 1em 1.5em 0

.has-errors
  border-bottom 3px solid #B83E2C

.no-errors
  border-bottom 3px solid green

.title-bordered
  border-top solid 2px #bbb
  padding-top 2.5em

.scroll
  height 100%

.menu
  .bar
    &.bar-header
      &.expanded
        transition all .5s ease-in-out

  .avatar
    height 7.3333333em
    width 7.3333333em

  &.menu-left
    *
      font-weight bold

.menu-open
  .bar
    &.bar-header
      &.expanded
        background-color #222

  .ion-navicon
    transform rotate(-360deg)
    -webkit-transition all 0.2s ease-in-out
    transition all 0.2s ease-in-out
    &:before
      content "\f2ca"

.app-icon
  background-color #fff
  background url('../images/logo.png') center
  background-size cover
  border-radius 30%
  height 10.5em
  margin 0 auto
  width 12.5em

label
  &.login
    background 0 0
    box-shadow none
    display block
    padding 2.5em 1.5em 0 1.5em

.login
  input
    background-color rgba(0,0,0,0.6)
    color #fff
    letter-spacing 0.25rem
    padding 1.6666666em 1em

  span
    color #444
    font-weight 700
    letter-spacing 0.25rem
    position absolute
    padding .5em 0 0
    text-transform uppercase
    transform translate3d(0,-30px,0) scale(1)
    transform-origin 0
    transition all .2s ease
    -webkit-transform translate3d(0,-30px,0) scale(1)
    -webkit-transition all .2s ease
    z-index 2

.splash
  background-color #886aea

.button
  &.button-energized
    background-color #fad13b
    color #362a5e
    font-weight 700

  &.nav-bar-button
    border-radius 0
    box-shadow none
    padding 0 1rem

#add-portfolio
  height 100%
  left -3em
  max-height 3.5em
  max-width 3.5em
  top 1.5em
  width 100%

input.create-portfolio, input.add-portfolio-item
  padding-left .5em
  width 100%

.import-file
  .placeholder
    color #aaaaaa

.avatar, hero
  background #fff
  background-size cover

.photo-container
  height 35em
  margin 1em

  .photo
    height 26.6666666em

  .photo-header
    height 4em
    padding 1em

  .photo-footer
    height 4em
    margin-top .5em

img
  &.photo-image
    margin auto
    max-width 33.3333333em
    width 33.3333333em

.photo-footer
  .tab-item
    max-width 16.6666666em

button.slick-next, button.slick-prev
  color #ED693C
  background #ED693C
  position relative

button.slick-prev:hover,
button.slick-prev:focus,
button.slick-next:hover,
button.slick-next:focus
  color #ED693C
  outline none
  background #ED693C

.pane
  background-color yodel-light-grey

.yodel-bar
  background-color yodel-purple
  color yodel-white

.footer
  background-color yodel-purple
  color yodel-white
  height 28%
  line-height .75

  div.derp
    padding-top 4%

div.buttons
  background-color yodel-dark-grey

button.nav-bar-button
  color yodel-white
