yodel-blue = #00B9FF
yodel-cyan = #41B7D8
yodel-teal = #00E9C5
yodel-pink = #DC4FB2
yodel-purple = #9641FA
yodel-canary = #FFF23A
yodel-dull-yellow = #F2AF3F
yodel-yellow = #F7B32B
yodel-orange = #F28F3F
yodel-orange-red = #ED693C

yodel-white = #FFFFFF
yodel-light-grey = #ECF0F1
yodel-medium-grey = #888888
yodel-dark-grey = #231F20
yodel-black = #000000

.background-yodel-blue
  background-color yodel-blue

.background-yodel-cyan
  background-color yodel-cyan

.background-yodel-teal
  background-color yodel-teal

.background-yodel-pink
  background-color yodel-pink

.background-yodel-purple
  background-color yodel-purple

.background-yodel-canary
  background-color yodel-canary

.background-yodel-dull-yellow
  background-color yodel-dull-yellow

.background-yodel-yellow
  background-color yodel-yellow

.background-yodel-orange
  background-color yodel-orange

.background-yodel-orange-red
  background-color yodel-orange-red

.font-yodel-blue
  color yodel-blue

.font-yodel-cyan
  color yodel-cyan

.font-yodel-teal
  color yodel-teal

.font-yodel-pink
  color yodel-pink

.font-yodel-purple
  color yodel-purple

.font-yodel-canary
  color yodel-canary

.font-yodel-dull-yellow
  color yodel-dull-yellow

.font-yodel-yellow
  color yodel-yellow

.font-yodel-orange
  color yodel-orange

.font-yodel-orange-red
  color yodel-orange-red
