yodel-blue = #00B9FF
yodel-teal = #00E9C5
yodel-pink = #DC4FB2
yodel-purple = #9641FA
yodel-canary = #FFF23A
yodel-dull-yellow = #F2AF3F
yodel-yellow = #F7B32B
yodel-orange = #F28F3F
yodel-orange-red = #ED693C

yodel-white = #FFFFFF
yodel-light-grey = #ECF0F1
yodel-dark-grey = #231F20
yodel-black = #000000
