@import colors
@import common
@import typography

event-button()
  flat-button()
  padding 5px
  background yodel-orange-red
  position absolute

.event-image
  position absolute
  top 50%
  min-height 100%
  height 100%
  display block
  left 50%
  -webkit-transform translate(-50%, -50%)

h2.event-banner
  position absolute
  top 70%
  left 0
  width 100%

  span
    color yodel-white
    background-color yodel-purple
    font-size font-medium
    font-weight bold
    letter-spacing -1px
    padding 5px
    line-height 1.65

.next-event-button
  event-button()
  right 0

.prev-event-button
  event-button()
  left 0

.next-event-button:active
  outline none
  -webkit-box-shadow none
  box-shadow none
