font-xlarge = 4.5rem
font-large = 3rem
font-medium = 2rem
font-small = 1.5rem
font-tiny = 1rem

yodel-header-font-family = 'Josefin Sans', 'Lucida Grande', 'Lucida Sans', sans-serif

body
  color #555
  line-height 1.8

h1, h2, h3, h4, h5, h6,
p, blockquote,
ul, ol, dl, li
  color inherit // ionic is stupid and explicitly makes all text elements black

h1,
h2,
h3
  font-family yodel-header-font-family
  font-weight 400
  letter-spacing .5rem
  text-transform uppercase
h1
  font-size 4rem
h2
  font-size 3.5rem
h3
  font-size 2rem
h4,
h5
  font-size 1.2rem
  line-height 1.6
h4
  font-weight 700
h5
  font-weight 300

p
  text-align left

em
  font-style normal
  letter-spacing .2em
strong
  font-weight 700
  
a,
a:link
  text-decoration none
  color yodel-cyan
a:visited
a:hover
a:active



placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
