font-xlarge = 4.5rem
font-large = 3rem
font-medium = 2rem
font-small = 1.5rem
font-tiny = 1rem

body
  font-size 12px

@font-face
  font-family josefin
  font-weight 300
  src url('https://fonts.googleapis.com/css?family=Josefin+Sans:300')

yodel-font-family = open-sans, sans-serif
yodel-header-font-family = 'Josefin Sans', sans-serif

.h1
  font-family yodel-header-font-family
  font-size font-xlarge

.h2
  font-family yodel-header-font-family
  font-size font-large

.h3
  font-family yodel-font-family
  font-size font-medium
  font-weight 700

.h4
  font-family yodel-header-font-family
  font-size font-small

p.tiny
  font-size font-tiny
  font-family yodel-font-family

placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
