<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= subject %></title>
  </head>
  <body>
    <div style='background: transparent url("http://yodel.is/images/about-hero.jpg"); text-align: center'>
      <img src="http://yodel.is/images/yodel-brand-large.png" style="max-width: 100%; margin-top: 15%;"/>
      <h1 class="h1" style="color: white;">YODEL IS HERE.</h1>
    </div>
    <h1>Welcome to the Yodel Beta, <%= name %>!</h1>
    <p>
      Thank you for signing up for Yodel.  We're very excited about the future of Yodel, and we hope you'll with us for years to come.
    </p>
    <p>
      We know that Yodel is still a little rough around the edges, but we'd like to hear from you!
      What do you want to see added to Yodel next?  What bug :bug: did you find?  Contact us at <a href="mailto:contact@yodel.to">contact@yodel.to</a>.
    </p>
    <p>
      Best,
    </p>
    <p>
      The Yodel Team
    </p>
  </body>
</html>
